# Python bytecode
*.pyc
*__pycache__

# build files
sumpf.egg-info
dist
docs

# test caches
.coverage
.hypothesis
.pytest_cache

# IDE config files
.cache
.idea
.project
.pydevproject
.settings

# OSX garbage
.DS_Store
