*{
	vertical-align: top;
/*	color: #000000;*/
}

*.maintable{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

*.headline{
	font-size: xx-large;
	font-weight: bold;
	background: #6080FF;
/*	background: #8888FF;*/
}

*.section{
	font-size: x-large;
	font-weight: bold;
	background: #6080FF;
/*	background: #8888FF;*/
}

*.subsection{
	font-size: larger;
	background: #C8E0FF;
/*	background: #FF8888;*/
}

*.text{
	font-size: medium;
	background: #E0F0FF;
/*	background: #88FF88;*/
}

*.overview{
	font-size: medium;
	background: #C8E0FF;
/*	background: #FF8888;*/
}

*.code{
	font-size: medium;
	font-family: monospace;
}

*.toplink{
	font-size: medium;
	color: #FFFFFF;
	float: right;
}

